<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.ac.polinema.myapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logotg"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logotg"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".albumactivities.Album6"></activity>
        <activity android:name=".albumactivities.Album5" />
        <activity android:name=".albumactivities.Album4" />
        <activity android:name=".albumactivities.Album3" />
        <activity android:name=".albumactivities.Album2" />
        <activity android:name=".albumactivities.Album1" />
        <activity android:name=".activities.ActionActivity" />
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.NavigationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>